extends layout.pug

block content
      h2 Welcome to the de Bruijn Horse Farm.
      .description
            h3 A worldclass thoroughbred farm located in the heart of Oxfordshire.
            p We are a family run (but strictly fictional) company offering only the best studs for your broodmares. We also offer our clients a variety of management packages, from advice about matings to complete control and management of your equine interests.
            br
            br
            p Please refer to our Horses tab to see our current offerings
      .banner
            .wrapper2
                  img(src='/imgs/pasture.jpg', alt='pasture')