extends layout.pug

block content
      h3 Welcome to the de Bruijn Stud Farm.
      h3 A worldclass thoroughbred stud farm located in the heart of Oxfordshire.
      p We are a family run but strictly fictional company offering only the best studs for your broodmares. We also offer our clients a variety of management packages, from advice about matings to complete control and management of your equine interests.
      br
      p Please refer to our Studs tab to see our current offerings
      