extends layout.pug

block content
      h2 Welcome to the de Bruijn Horse Farm.
      .description
            h3 A worldclass horse farm located in the heart of Oxfordshire.
            p We are a family run (but strictly fictional) company offering only the best horse breeds. We also offer our clients a variety of management packages, from advice about matings to complete control and management of your equine interests.
            br
            br
            p Please refer to our Horses tab to see our current offerings. Please do not be alarmed by the seemingly unethical practice of being able to click and ship a large animal like this. We have our ways. Trust us. 
      .banner
            .wrapper2
                  img(src='/imgs/pasture.jpg', alt='pasture')