html
  head
    title de Bruijn horse farm
    link(rel='stylesheet', href='/style.css')
  body
    header
      a(href='/') DE BRUIJN HORSE FARM
      nav
        a(href='/stock') Horses
      .basket 
        if !basket
            p empty basket
        else 
            p= basket.length
    .content
        block content